body {
	margin: 0;
	padding: 0;
	font-size: 1em;
	background-image: url("./img/bg.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50%;
	text-align: center;
	font-family: 'VT323', monospace;
}

/* ************************************************************* */
/* ************************************************************* */
/*                             GLOBAL                            */
/* ************************************************************* */
/* ************************************************************* */

/* //////////// HEADER //////////// */

#header {
	text-align: center;
	position: relative;
	overflow: hidden;
}

#logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

/* //////////// SPLASH SCREEN TUTORIEL //////////// */

#tutoriel {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.95);
}

#go-tuto {
	display: inline-block;
	background-image: url(./img/spriteSheet_UI.png);
	overflow: visible;
	z-index: 0;
}

	#go-tuto:hover{
	background-position: -121px -78px;     
}

/* //////////// NAV //////////// */

ul{
	padding: 0;
}

li {
	display: inline-block;
}

#accueil {
	display: inline-block;
	background-image: url(./img/spriteSheet_UI.png);
	background-position: 0 0px;
	z-index: 1;
}

#accueil:active{
	background-position: 0 -36px;
}

#accueil:hover, #cv:hover, #contact:hover, #linkedin:hover{
	cursor: pointer;
}

#cv {
	display: inline-block;
	background-image: url(./img/spriteSheet_UI.png);
	background-position: -127px 0px; 
	z-index: 2;   
}

#cv:active{
	background-position: -127px -36px;     
}

#contact {
	display: inline-block;
	background-image: url(./img/spriteSheet_UI.png);
	background-position: -255px 0px;
	z-index: 3;
}

#contact:active{
	background-position: -255px -36px;    
}

/* ////////////// CONTACT ////////////// */

#linkedin {
	display: block;
	background-image: url(./img/spriteSheet_UI.png);
	background-position: -1px -379px;
	z-index: 2;   
}

#linkedin:active{
	background-position: -1px -424px;   
}

/* ////////////// CONTROLS ////////////// */

#gauche, #droite, #bas, #hit, #haut, #revive{
	display: none;
}

/* ************************************************************* */
/* ************************************************************* */
/*                           MIN 320px                          */
/* ************************************************************* */
/* ************************************************************* */

@media (min-width:320px) AND (max-width:480px) {
	/* smartphones, iPhone, portrait 480x320 phones */

	/* //////////// HEADER //////////// */

	#header {
		height: 100px;
		margin-bottom: 10px;
	}

	#logo {
		width: 150px;
		top: -15px;
	}

	/* //////////// SPLASH SCREEN TUTORIEL //////////// */

	#tutoriel {
		top: 35px;
		border: 20px solid transparent;
		-webkit-border-image: url(./img/frame.png) 24 round;
		-o-border-image: url(./img/frame.png) 24 round;
		border-image: url(./img/frame.png) 24 round;
	}

	#tutoriel img {
		width: 280px;
	}

	#go-tuto {
		margin: 0px 20px 0px 20px;
		width: 100px;
		height: 100px;
		background-position: -202px -60px;
		background-size: 300px;
	}

	#go-tuto:hover {
		background-position: -99px -60px;
	}

	/* //////////// NAV //////////// */

	#accueil {
		margin: 0 1px 0 1px;
		width: 96px;
		height: 26px;
		background-size: 460%;
		background-position: 0 0;
		z-index: 1;
	}
	
	#accueil:active{
		background-position: 0 -27px;
	}
	
	#cv {
		margin: 0 1px 0 1px;
		width: 96px;
		height: 26px;
		background-size: 460%;
		background-position: -95px 0px;
	}

	#cv:active{
		background-position: -95px -27px;
	}
	
	#contact {
		margin: 0 1px 0 1px;
		width: 96px;
		height: 26px;
		background-size: 460%;
		background-position: -192px 0px;
	}
	
	#contact:active{
		background-position: -192px -27px;
	}

	/* //////////// CANVAS //////////// */

	#canvas {
		border: 20px solid transparent;
		border-radius: 22px;
		width: 280px;
		height: 149px;
		-webkit-border-image: url(./img/frame.png) 24 round;
		-o-border-image: url(./img/frame.png) 24 round;
		border-image: url(./img/frame.png) 24 round;

	}

	/* //////////// VIEWER PDF //////////// */

	object {
		border: 20px solid transparent;
		-webkit-border-image: url(./img/frame.png) 18 round;
		-o-border-image: url(./img/frame.png) 18 round;
		border-image: url(./img/frame.png) 24 round;
		opacity: 1;
		width: 85%;
		height: 550px;
	}

	/* ////////////// CONTACT ////////////// */
	
	#linkedin {
		margin: 70px 20px 10px 20px;
		display: block;
		width: 190px;
		height: 44px;
		background-image: url(./img/spriteSheet_UI.png);
		background-position: -1px -379px;
		z-index: 2;
	}
	
	#linkedin:active {
		background-position: -1px -424px;
	}
	
	#linkedin:hover {
		cursor: pointer;
	}
	
	/* ////////////// CONTACT ////////////// */

	#gauche {
		display: inline-block;
		margin: 10px 10px;
		width: 55px;
		height: 55px;
		background-image: url(./img/spriteSheet_UI.png);
		background-position: -207px -363px;
	}
	
	#droite {
		display: inline-block;
		margin: 10px 10px;
		width: 55px;
		height: 55px;
		background-image: url(./img/spriteSheet_UI.png);
		background-position: -269px -363px;
	}
	
	#hit {
		display: inline-block;
		margin: 10px 10px;
		width: 55px;
		height: 55px;
		background-image: url(./img/spriteSheet_UI.png);
		background-position: -333px -363px;
	}
	
	#haut {
		display: inline-block;
		margin: 10px 10px;
		width: 55px;
		height: 55px;
		background-image: url(./img/spriteSheet_UI.png);
		background-position: -333px -363px;
	}
	
	#bas {
		display: inline-block;
		margin: 10px 10px;
		width: 135px;
		height: 55px;
		background-image: url(./img/spriteSheet_UI.png);
		background-position: -209px -425px;
	}
	
	#revive {
		display: inline-block;
		margin: 10px 10px;
		width: 135px;
		height: 55px;
		background-image: url(./img/spriteSheet_UI.png);
		background-position: -349px -425px;
	}

}

/* ************************************************************* */
/* ************************************************************* */
/*                           MIN 481px                          */
/* ************************************************************* */
/* ************************************************************* */

@media (min-width:481px) AND (max-width:640px) {
	/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

	/* //////////// HEADER //////////// */

	#header {
		height: 100px;
		margin-bottom: 10px;
	}

	#logo {
		width: 150px;
		top: -15px;
	}

	/* //////////// SPLASH SCREEN TUTORIEL //////////// */

	#tutoriel {
		top: 35px;
		border: 20px solid transparent;
		-webkit-border-image: url(./img/frame.png) 24 round;
		-o-border-image: url(./img/frame.png) 24 round;
		border-image: url(./img/frame.png) 24 round;
	}

	#tutoriel img {
		width: 450px;
	}

	#go-tuto {
		margin: 0px 20px 0px 20px;
		width: 150px;
		height: 150px;
		background-position: -259px -78px;
		background-size: 400px;
	}


	#go-tuto:hover {
		background-position: -121px -78px;
	}


	/* //////////// NAV //////////// */

	#accueil {
		margin: 0 5px 0 5px;
		width: 128px;
		height: 36px;
	}

	#cv {
		margin: 0 5px 0 5px;
		width: 128px;
		height: 36px;
	}

	#contact {
		margin: 0 5px 0 5px;
		width: 128px;
		height: 36px;
	}

	#contact:active {
		background-position: -255px -36px;
	}

	/* //////////// CANVAS //////////// */

	#canvas {
		border: 20px solid transparent;
		border-radius: 22px;
		width: 90%;
		-webkit-border-image: url(./img/frame.png) 24 round;
		-o-border-image: url(./img/frame.png) 24 round;
		border-image: url(./img/frame.png) 24 round;

	}

	/* //////////// VIEWER PDF //////////// */

	object {
		border: 20px solid transparent;
		-webkit-border-image: url(./img/frame.png) 18 round;
		-o-border-image: url(./img/frame.png) 18 round;
		border-image: url(./img/frame.png) 24 round;
		opacity: 1;
		width: 90%;
		height: 800px;
	}

	/* ////////////// CONTACT ////////////// */

	#linkedin {
		margin: 70px 20px 10px 20px;
		width: 190px;
		height: 44px;
	}

}

/* ************************************************************* */
/* ************************************************************* */
/*                           MIN 641px                          */
/* ************************************************************* */
/* ************************************************************* */

@media (min-width:641px) AND (max-width:960px) {
	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

	/* //////////// HEADER //////////// */

	#header {
		height: 200px;
		margin-bottom: 10px;
	}

	#logo {
		width: 310px;
		top: -50px;
	}

	/* //////////// SPLASH SCREEN TUTORIEL //////////// */

	#tutoriel {
		top: 35px;
		border: 20px solid transparent;
		-webkit-border-image: url(./img/frame.png) 24 round;
		-o-border-image: url(./img/frame.png) 24 round;
		border-image: url(./img/frame.png) 24 round;
	}

	#tutoriel img {
		width: 550px;
	}

	#go-tuto {
		margin: 0px 20px 0px 20px;
		width: 150px;
		height: 150px;
		background-position: -259px -78px;
		background-size: 400px;
		overflow: visible;
		z-index: 0;
	}

	#go-tuto:hover {
		background-position: -121px -78px;
	}

	/* //////////// NAV //////////// */

	#accueil {
		margin: 0 20px 10px 20px;
		width: 128px;
		height: 36px;
	}

	#cv {
		margin: 0 20px 10px 20px;
		width: 128px;
		height: 36px;
	}

	#contact {
		margin: 0 20px 10px 20px;
		width: 128px;
		height: 36px;
	}

	/* //////////// CANVAS //////////// */

	#canvas {
		border: 20px solid transparent;
		border-radius: 22px;
		width: 90%;
		-webkit-border-image: url(./img/frame.png) 24 round;
		-o-border-image: url(./img/frame.png) 24 round;
		border-image: url(./img/frame.png) 24 round;
	}

	/* //////////// VIEWER PDF //////////// */

	object {
		border: 20px solid transparent;
		-webkit-border-image: url(./img/frame.png) 18 round;
		-o-border-image: url(./img/frame.png) 18 round;
		border-image: url(./img/frame.png) 24 round;
		opacity: 1;
		width: 90%;
		height: 1200px;
	}

	/* ////////////// CONTACT ////////////// */

	#linkedin {
		margin: 70px 20px 10px 20px;
		width: 190px;
		height: 44px;
	}

}

/* ************************************************************* */
/* ************************************************************* */
/*                           MIN 961px                          */
/* ************************************************************* */
/* ************************************************************* */

@media (min-width:961px) AND (max-width:1024px) {
	/* tablet, landscape iPad, lo-res laptops ands desktops */

	/* //////////// HEADER //////////// */

	#header {
		height: 200px;
		margin-bottom: 10px;
	}

	#logo {
		width: 310px;
		top: -50px;
	}

	/* //////////// SPLASH SCREEN TUTORIEL //////////// */

	#tutoriel {
		top: 35px;
		border: 20px solid transparent;
		-webkit-border-image: url(./img/frame.png) 24 round;
		-o-border-image: url(./img/frame.png) 24 round;
		border-image: url(./img/frame.png) 24 round;
	}

	#tutoriel img {
		width: 700px;
	}

	#go-tuto {
		margin: 0px 20px 0px 20px;
		width: 150px;
		height: 150px;
		background-position: -259px -78px;
		background-size: 400px;
	}

	#go-tuto:hover {
		background-position: -121px -78px;
	}

	/* //////////// NAV //////////// */

	#accueil {
		margin: 0 20px 10px 20px;
		width: 128px;
		height: 36px;
	}

	#cv {
		margin: 0 20px 10px 20px;
		width: 128px;
		height: 36px;
	}

	#contact {
		margin: 0 20px 10px 20px;
		width: 128px;
		height: 36px;
	}

	/* //////////// CANVAS //////////// */

	#canvas {
		border: 20px solid transparent;
		border-radius: 22px;
		width: 100%;
		-webkit-border-image: url(./img/frame.png) 24 round;
		-o-border-image: url(./img/frame.png) 24 round;
		border-image: url(./img/frame.png) 24 round;
		width: 900px;
		height: 480px;
	}

	/* //////////// VIEWER PDF //////////// */

	object {
		border: 20px solid transparent;
		-webkit-border-image: url(./img/frame.png) 18 round;
		-o-border-image: url(./img/frame.png) 18 round;
		border-image: url(./img/frame.png) 24 round;
		opacity: 1;
		width: 900px;
		height: 1270px;
	}

	/* ////////////// CONTACT ////////////// */

	#linkedin {
		margin: 70px 20px 10px 20px;
		width: 190px;
		height: 44px;
	}

}


/* ************************************************************* */
/* ************************************************************* */
/*                           MIN 1025px                          */
/* ************************************************************* */
/* ************************************************************* */

@media (min-width:1025px) AND (max-width:1280px) {
	/* big landscape tablets, laptops, and desktops */

	/* //////////// HEADER //////////// */

	#header {
		height: 200px;
		margin-bottom: 10px;
	}

	#logo {
		width: 310px;
		top: -50px;
	}

	/* //////////// SPLASH SCREEN TUTORIEL //////////// */

	#tutoriel {
		top: 35px;
		border: 20px solid transparent;
		-webkit-border-image: url(./img/frame.png) 24 round;
		-o-border-image: url(./img/frame.png) 24 round;
		border-image: url(./img/frame.png) 24 round;
	}

	#tutoriel img {
		width: 700px;
	}

	#go-tuto {
		margin: 0px 20px 0px 20px;
		width: 150px;
		height: 150px;
		background-position: -259px -78px;
		background-size: 400px;
	}

	#go-tuto:hover {
		background-position: -121px -78px;
	}

	/* //////////// NAV //////////// */

	#accueil {
		margin: 0 20px 10px 20px;
		width: 128px;
		height: 36px;
	}

	#cv {
		margin: 0 20px 10px 20px;
		width: 128px;
		height: 36px;
	}

	#contact {
		margin: 0 20px 10px 20px;
		width: 128px;
		height: 36px;
	}

	/* //////////// CANVAS //////////// */

	#canvas {
		border: 20px solid transparent;
		border-radius: 22px;
		width: 100%;
		-webkit-border-image: url(./img/frame.png) 24 round;
		-o-border-image: url(./img/frame.png) 24 round;
		border-image: url(./img/frame.png) 24 round;
		width: 900px;
		height: 480px;
	}

	/* //////////// VIEWER PDF //////////// */

	object {
		border: 20px solid transparent;
		-webkit-border-image: url(./img/frame.png) 18 round;
		-o-border-image: url(./img/frame.png) 18 round;
		border-image: url(./img/frame.png) 24 round;
		opacity: 1;
		width: 900px;
		height: 1270px;
	}

	/* ////////////// CONTACT ////////////// */

	#linkedin {
		margin: 70px 20px 10px 20px;
		width: 190px;
		height: 44px;
	}

}


/* ************************************************************* */
/* ************************************************************* */
/*                           MIN 1281px                          */
/* ************************************************************* */
/* ************************************************************* */

@media (min-width:1281px) {
	/* hi-res laptops and desktops */

	/* //////////// HEADER //////////// */

	#header {
		height: 200px;
		margin-bottom: 10px;
	}

	#logo {
		width: 310px;
		top: -50px;
	}

	/* //////////// SPLASH SCREEN TUTORIEL //////////// */

	#tutoriel {
		top: 35px;
		border: 20px solid transparent;
		-webkit-border-image: url(./img/frame.png) 24 round;
		-o-border-image: url(./img/frame.png) 24 round;
		border-image: url(./img/frame.png) 24 round;
	}

	#tutoriel img {
		width: 700px;
	}

	#go-tuto {
		margin: 0px 20px 0px 20px;
		width: 150px;
		height: 150px;
		background-position: -259px -78px;
		background-size: 400px;;
	}

	#go-tuto:hover {
		background-position: -121px -78px;
	}

	/* //////////// NAV //////////// */

	#accueil {
		margin: 0 20px 10px 20px;
		width: 128px;
		height: 36px;
	}

	#cv {
		margin: 0 20px 10px 20px;
		width: 128px;
		height: 36px;
	}

	#contact {
		margin: 0 20px 10px 20px;
		width: 128px;
		height: 36px;
	}

	/* //////////// CANVAS //////////// */

	#canvas {
		border: 20px solid transparent;
		border-radius: 22px;
		width: 100%;
		-webkit-border-image: url(./img/frame.png) 24 round;
		-o-border-image: url(./img/frame.png) 24 round;
		border-image: url(./img/frame.png) 24 round;
		width: 900px;
		height: 480px;
	}

	/* //////////// VIEWER PDF //////////// */

	object {
		border: 20px solid transparent;
		-webkit-border-image: url(./img/frame.png) 18 round;
		-o-border-image: url(./img/frame.png) 18 round;
		border-image: url(./img/frame.png) 24 round;
		opacity: 1;
		width: 900px;
		height: 1270px;
	}

	/* ////////////// CONTACT ////////////// */

	#linkedin {
		margin: 70px 20px 10px 20px;
		width: 190px;
		height: 44px;
	}

}