body {
	background-image: url("./img/bg.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50%;
	font-family: 'VT323', monospace;
	font-size: 1em;
	margin: 0;
	padding: 0;
	text-align: center;
}

/* ************************************************************* */
/* ************************************************************* */
/*                             GLOBAL                            */
/* ************************************************************* */
/* ************************************************************* */

/* //////////// HEADER //////////// */

#header {
	overflow: hidden;
	position: relative;
	text-align: center;
}

#logo {
	cursor: pointer;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

/* //////////// SPLASH SCREEN TUTORIEL //////////// */

#tutoriel {
	background-color: rgba(0, 0, 0, 0.95);
	border: 20px solid transparent;
	-webkit-border-image: url(./img/frame.png) 24 round;
	-o-border-image: url(./img/frame.png) 24 round;
	-ms-border-image: url(./img/frame.png) 24 round;
	-moz-border-image: url(./img/frame.png) 24 round;
	border-image: url(./img/frame.png) 24 round;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	top: 35px;
}

#go-tuto {
	background-image: url(./img/spriteSheet_UI.png);
	display: inline-block;
	overflow: visible;
	z-index: 1;
}

#go-tuto:hover {
	background-position: -121px -78px;
}

/* //////////// NAV //////////// */

ul {
	padding: 0;
}

li {
	display: inline-block;
}

#accueil {
	background-image: url(./img/spriteSheet_UI.png);
	background-position: 0 0px;
	display: inline-block;
}

#accueil:active {
	background-position: 0 -36px;
}

#accueil:hover,
#cv:hover,
#contact:hover,
#linkedin:hover {
	cursor: pointer;
}

#cv {
	background-image: url(./img/spriteSheet_UI.png);
	background-position: -127px 0px;
	display: inline-block;
}

#cv:active {
	background-position: -127px -36px;
}

#contact {
	background-image: url(./img/spriteSheet_UI.png);
	background-position: -255px 0px;
	display: inline-block;
}

#contact:active {
	background-position: -255px -36px;
}

/* ////////////// CONTACT ////////////// */

#canvas {
	border: 20px solid transparent;
	border-image: url(./img/frame.png) 24 round;
	-webkit-border-image: url(./img/frame.png) 24 round;
	-o-border-image: url(./img/frame.png) 24 round;
	-ms-border-image: url(./img/frame.png) 24 round;
	-moz-border-image: url(./img/frame.png) 24 round;
	border-radius: 22px;
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	-ms-border-radius: 22px;
	-o-border-radius: 22px;
}

/* //////////// VIEWER PDF //////////// */

object {
	border: 20px solid transparent;
	border-image: url(./img/frame.png) 24 round;
	-webkit-border-image: url(./img/frame.png) 24 round;
	-o-border-image: url(./img/frame.png) 24 round;
	-ms-border-image: url(./img/frame.png) 24 round;
	-moz-border-image: url(./img/frame.png) 24 round;
	opacity: 1;
}

/* ////////////// CONTACT ////////////// */

#linkedin {
	background-image: url(./img/spriteSheet_UI.png);
	background-position: -1px -379px;
	display: block;
}

#linkedin:active {
	background-position: -1px -424px;
}

/* ////////////// CONTROLS ////////////// */

#gauche,
#droite,
#bas,
#hit,
#haut,
#revive {
	display: none;
}

/* ************************************************************* */
/* ************************************************************* */
/*                           MIN 320px                          */
/* ************************************************************* */
/* ************************************************************* */

@media (min-width:320px) AND (max-width:480px) {

	/* //////////// HEADER //////////// */

	#header {
		height: 100px;
		margin-bottom: 10px;
	}

	#logo {
		top: -15px;
		width: 150px;
	}

	/* //////////// SPLASH SCREEN TUTORIEL //////////// */

	#tutoriel img {
		width: 280px;
	}

	#go-tuto {
		background-position: -202px -60px;
		background-size: 300px;
		height: 100px;
		margin: 0px 20px 0px 20px;
		width: 100px;
	}

	#go-tuto:hover {
		background-position: -99px -60px;
	}

	/* //////////// NAV //////////// */

	#accueil {
		background-size: 460%;
		background-position: 0 0;
		height: 26px;
		margin: 0 1px 0 1px;
		width: 96px;
	}

	#accueil:active {
		background-position: 0 -27px;
	}

	#cv {
		background-size: 460%;
		background-position: -95px 0px;
		height: 26px;
		margin: 0 1px 0 1px;
		width: 96px;
	}

	#cv:active {
		background-position: -95px -27px;
	}

	#contact {
		background-size: 460%;
		background-position: -192px 0px;
		height: 26px;
		margin: 0 1px 0 1px;
		width: 96px;
	}

	#contact:active {
		background-position: -192px -27px;
	}

	/* //////////// CANVAS //////////// */

	#canvas {
		border: none;
		border-radius:0;
		-webkit-border-radius:0;
		-moz-border-radius:0;
		-ms-border-radius:0;
		-o-border-radius:0;
		margin-bottom: 15px;
		width: 100%;
}

	/* //////////// VIEWER PDF //////////// */

	object {
		height: 550px;
		width: 85%;
	}

	/* ////////////// CONTACT ////////////// */

	#linkedin {
		background-image: url(./img/spriteSheet_UI.png);
		background-position: -1px -379px;
		display: block;
		height: 44px;
		margin: 70px 20px 10px 20px;
		width: 190px;
	}

	#linkedin:active {
		background-position: -1px -424px;
	}

	#linkedin:hover {
		cursor: pointer;
	}

	/* ////////////// CONTACT ////////////// */

	#gauche {
		background-image: url(./img/spriteSheet_UI.png);
		background-position: -207px -363px;
		display: inline-block;
		height: 55px;
		margin: 10px 10px;
		width: 55px;
	}

	#droite {
		background-image: url(./img/spriteSheet_UI.png);
		background-position: -269px -363px;
		display: inline-block;
		height: 55px;
		margin: 10px 10px;
		width: 55px;
	}

	#hit {
		background-image: url(./img/spriteSheet_UI.png);
		background-position: -333px -363px;
		display: inline-block;
		height: 55px;
		margin: 10px 10px;
		width: 55px;
	}

	#haut {
		background-image: url(./img/spriteSheet_UI.png);
		background-position: -333px -363px;
		display: inline-block;
		height: 55px;
		margin: 10px 10px;
		width: 55px;
	}

	#bas {
		background-image: url(./img/spriteSheet_UI.png);
		background-position: -209px -425px;
		display: inline-block;
		height: 55px;
		margin: 10px 10px;
		width: 135px;
	}

	#revive {
		background-image: url(./img/spriteSheet_UI.png);
		background-position: -349px -425px;
		display: inline-block;
		height: 55px;
		margin: 10px 10px;
		width: 135px;
	}

}

/* ************************************************************* */
/* ************************************************************* */
/*                           MIN 481px                          */
/* ************************************************************* */
/* ************************************************************* */

@media (min-width:481px) AND (max-width:640px) {

	/* //////////// HEADER //////////// */

	#header {
		height: 100px;
		margin-bottom: 10px;
	}

	#logo {
		top: -15px;
		width: 150px;
	}

	/* //////////// SPLASH SCREEN TUTORIEL //////////// */

	#tutoriel img {
		width: 450px;
	}

	#go-tuto {
		background-position: -259px -78px;
		background-size: 400px;
		height: 150px;
		margin: 0px 20px 0px 20px;
		width: 150px;
	}


	#go-tuto:hover {
		background-position: -121px -78px;
	}


	/* //////////// NAV //////////// */

	#accueil {
		height: 36px;
		margin: 0 5px 0 5px;
		width: 128px;
	}

	#cv {
		height: 36px;
		margin: 0 5px 0 5px;
		width: 128px;
	}

	#contact {
		height: 36px;
		margin: 0 5px 0 5px;
		width: 128px;
	}

	#contact:active {
		background-position: -255px -36px;
	}

	/* //////////// CANVAS //////////// */

	#canvas {
		width: 90%;
	}

	/* //////////// VIEWER PDF //////////// */

	object {
		height: 800px;
		width: 90%;
	}

	/* ////////////// CONTACT ////////////// */

	#linkedin {
		height: 44px;
		margin: 70px 20px 10px 20px;
		width: 190px;
	}

}

/* ************************************************************* */
/* ************************************************************* */
/*                           MIN 641px                          */
/* ************************************************************* */
/* ************************************************************* */

@media (min-width:641px) AND (max-width:960px) {

	/* //////////// HEADER //////////// */

	#header {
		height: 200px;
		margin-bottom: 10px;
	}

	#logo {
		top: -50px;
		width: 310px;
	}

	/* //////////// SPLASH SCREEN TUTORIEL //////////// */

	#tutoriel img {
		width: 550px;
	}

	#go-tuto {
		background-position: -259px -78px;
		background-size: 400px;
		height: 150px;
		margin: 0px 20px 0px 20px;
		overflow: visible;
		width: 150px;
	}

	#go-tuto:hover {
		background-position: -121px -78px;
	}

	/* //////////// NAV //////////// */

	#accueil {
		height: 36px;
		margin: 0 20px 10px 20px;
		width: 128px;
	}

	#cv {
		height: 36px;
		margin: 0 20px 10px 20px;
		width: 128px;
	}

	#contact {
		height: 36px;
		margin: 0 20px 10px 20px;
		width: 128px;
	}

	/* //////////// CANVAS //////////// */

	#canvas {
		width: 90%;
	}

	/* //////////// VIEWER PDF //////////// */

	object {
		height: 1200px;
		width: 90%;
	}

	/* ////////////// CONTACT ////////////// */

	#linkedin {
		height: 44px;
		margin: 70px 20px 10px 20px;
		width: 190px;
	}

}

/* ************************************************************* */
/* ************************************************************* */
/*                           MIN 961px                          */
/* ************************************************************* */
/* ************************************************************* */

@media (min-width:961px) AND (max-width:1024px) {

	/* //////////// HEADER //////////// */

	#header {
		height: 200px;
		margin-bottom: 10px;
	}

	#logo {
		top: -50px;
		width: 310px;
	}

	/* //////////// SPLASH SCREEN TUTORIEL //////////// */

	#tutoriel img {
		width: 700px;
	}

	#go-tuto {
		background-position: -259px -78px;
		background-size: 400px;
		height: 150px;
		margin: 0px 20px 0px 20px;
		width: 150px;
	}

	#go-tuto:hover {
		background-position: -121px -78px;
	}

	/* //////////// NAV //////////// */

	#accueil {
		height: 36px;
		margin: 0 20px 10px 20px;
		width: 128px;
	}

	#cv {
		height: 36px;
		margin: 0 20px 10px 20px;
		width: 128px;
	}

	#contact {
		height: 36px;
		margin: 0 20px 10px 20px;
		width: 128px;
	}

	/* //////////// CANVAS //////////// */

	#canvas {
		height: 480px;
		width: 900px;
	}

	/* //////////// VIEWER PDF //////////// */

	object {
		height: 1270px;
		width: 900px;
	}

	/* ////////////// CONTACT ////////////// */

	#linkedin {
		height: 44px;
		margin: 70px 20px 10px 20px;
		width: 190px;
	}

}

/* ************************************************************* */
/* ************************************************************* */
/*                           MIN 1025px                          */
/* ************************************************************* */
/* ************************************************************* */

@media (min-width:1025px) AND (max-width:1280px) {

	/* //////////// HEADER //////////// */

	#header {
		height: 200px;
		margin-bottom: 10px;
	}

	#logo {
		top: -50px;
		width: 310px;
	}

	/* //////////// SPLASH SCREEN TUTORIEL //////////// */

	#tutoriel img {
		width: 700px;
	}

	#go-tuto {
		background-position: -259px -78px;
		background-size: 400px;
		height: 150px;
		margin: 0px 20px 0px 20px;
		width: 150px;
	}

	#go-tuto:hover {
		background-position: -121px -78px;
	}

	/* //////////// NAV //////////// */

	#accueil {
		height: 36px;
		margin: 0 20px 10px 20px;
		width: 128px;
	}

	#cv {
		height: 36px;
		margin: 0 20px 10px 20px;
		width: 128px;
	}

	#contact {
		height: 36px;
		margin: 0 20px 10px 20px;
		width: 128px;
	}

	/* //////////// CANVAS //////////// */

	#canvas {
		height: 480px;
		width: 900px;
	}

	/* //////////// VIEWER PDF //////////// */

	object {
		height: 1270px;
		width: 900px;
	}

	/* ////////////// CONTACT ////////////// */

	#linkedin {
		height: 44px;
		margin: 70px 20px 10px 20px;
		width: 190px;
	}

}

/* ************************************************************* */
/* ************************************************************* */
/*                           MIN 1281px                          */
/* ************************************************************* */
/* ************************************************************* */

@media (min-width:1281px) {

	/* //////////// HEADER //////////// */

	#header {
		height: 200px;
		margin-bottom: 10px;
	}

	#logo {
		top: -50px;
		width: 310px;
	}

	/* //////////// SPLASH SCREEN TUTORIEL //////////// */

	#tutoriel img {
		width: 700px;
	}

	#go-tuto {
		background-position: -259px -78px;
		background-size: 400px;
		height: 150px;
		margin: 0px 20px 0px 20px;
		width: 150px;
	}

	#go-tuto:hover {
		background-position: -121px -78px;
	}

	/* //////////// NAV //////////// */

	#accueil {
		height: 36px;
		margin: 0 20px 10px 20px;
		width: 128px;
	}

	#cv {
		height: 36px;
		margin: 0 20px 10px 20px;
		width: 128px;
	}

	#contact {
		height: 36px;
		margin: 0 20px 10px 20px;
		width: 128px;
	}

	/* //////////// CANVAS //////////// */

	#canvas {
		height: 480px;
		width: 900px;
	}

	/* //////////// VIEWER PDF //////////// */

	object {
		height: 1270px;
		width: 900px;
	}

	/* ////////////// CONTACT ////////////// */

	#linkedin {
		height: 44px;
		margin: 70px 20px 10px 20px;
		width: 190px;
	}

}
